{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'src/app.js'%}">
</script>
    <h1 class="text-center my-5 fw-bolder">{{ intro }}</h1>
    <div class="my-5 mx-5 px-5">
    <table class="table table-bordered table-dark fs-1 text-center">
  <thead>
    <tr>
      <th scope="col">버스</th>
      <th scope="col">도착시간</th>
      <th scope="col">남은시간</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
        <td class="p-0"><button type="button" class="btn btn-block fs-1" style="color:white;" data-bs-toggle="modal" data-bs-target="#H50-3">H50-3</button></td>
        <td id="{% if 평일 == 1 %}H50-3_time1{% else %}H50-3_time2{% endif %}"></td>
        <td id="{% if 평일 == 1 %}H50-3_rest1{% else %}H50-3_rest2{% endif %}"></td>
    </tr>
    <tr>
      <td class="p-0"><button type="button" class="btn btn-block fs-1" style="color:white;" data-bs-toggle="modal" data-bs-target="#H50-4B">H50-4B</button></td>
      <td id="{% if 평일 == 1 %}H50-4B_time1{% else %}H50-4B_time2{% endif %}"></td>
      <td id="{% if 평일 == 1 %}H50-4B_rest1{% else %}H50-4B_rest2{% endif %}"></td>
    </tr>
    <tr>
      <td class="p-0"><button type="button" class="btn btn-block fs-1 " style="color:white;" data-bs-toggle="modal" data-bs-target="#H106">H106</button></td>
      <td id="{% if 평일 == 1 %}H106_time1{% else %}H106_time2{% endif %}"></td>
      <td id="{% if 평일 == 1 %}H106_rest1{% else %}H106_rest2{% endif %}"></td>
    </tr>
    <tr>
      <td class="p-0"><button type="button" class="btn btn-block fs-1 " style="color:white;" data-bs-toggle="modal" data-bs-target="#H50-8">50-8</button></td>
      <td id="{% if 평일 == 1 %}50-8_time1{% else %}50-8_time2{% endif %}"></td>
      <td id="{% if 평일 == 1 %}50-8_rest1{% else %}50-8_rest2{% endif %}"></td>
    </tr>
  </tbody>
</table>
    </div>
    <div class="fs-1 mx-5">
    <p>- 50-8 버스만 주말시간이 다릅니다.</p>
    <p>- 실제 버스시간이 아닌 <strong>버스 시간표</strong>가 기준입니다.</p>
    <p>- 평일인데 공휴일일 경우 50-8 은 사진을 참고해 주세요.</p>
    </div>

    <div class="modal fade" id="H50-3" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">H50-3 버스 시간표</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body d-flex justify-content-center align-items-center">
                <img src="{% static 'images/A_H50-3.png' %}" alt='H50-3' class="img-fluid">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <a href="https://map.naver.com/v5/bus/bus-route/-/bus-route/2806539?c=13,0,0,0,dh" class="btn btn-primary">노선 확인하기</a>
              </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="H50-4B" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">H50-4B 버스 시간표</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img src="{% static 'images/B_H50-4B.jpg' %}" alt='H50-4B' class="img-fluid">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <a href="https://map.naver.com/v5/bus/bus-route/-/bus-route/2806541?c=14,0,0,0,dh" class="btn btn-primary">노선 확인하기</a>
              </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="H106" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">H106 버스 시간표</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img src="{% static 'images/C_H106.jpg' %}" alt='H106' class="img-fluid">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <a href="https://map.naver.com/v5/bus/bus-route/-/bus-route/2806502?c=11.91,0,0,0,dh" class="btn btn-primary">노선 확인하기</a>
              </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="H50-8" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">50-8 버스 시간표</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img src="{% static 'images/D_50-8.jpg' %}" alt='50-8' class="img-fluid">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <a href="https://map.naver.com/v5/bus/bus-route/-/bus-route/16141?c=12,0,0,0,dh" class="btn btn-primary">노선 확인하기</a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}